* {
  background-color: #080808;
  border-color: #eceff4;
  text-color: #eceff4;
}

window {
  spacing: 0;
  width: 512px;
  padding: 8px;
  border: 1px;
}

inputbar {
  children: [entry];
}

entry {
  padding: 8px;
}

listview {
  cycle: false;
  scrollbar: false;
}

element {
  padding: 4px;
}

element selected {
  background-color: #eceff4;
  color: #080808;
}