[submodule "submodules/dotbot"]
	path = submodules/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "submodules/dracula-pro-ghostty"]
	path = submodules/dracula-pro-ghostty
	url = git@github.com:dracula-pro/ghostty.git
[submodule "submodules/oh-my-zsh"]
	path = submodules/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
